@model PainAssessment.ViewModels.Profile.AdministratorModel
@{
    ViewData["Title"] = "ViewAdmin";
}

<div>
    <h4>Profile</h4>
    <hr />
    <div class="row">
        <div class="col-lg-2"> @Html.DisplayNameFor(model => model.Name)</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(model => model.Name)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2"> @Html.DisplayNameFor(model => model.FullName)</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(model => model.FullName)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2"> @Html.DisplayNameFor(model => model.Role)</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(model => model.Role)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2"> @Html.DisplayNameFor(model => model.Department)</div>
        <div class="col-lg-10">
            @Html.TextBoxFor(model => model.Department)
        </div>
    </div>
</div>