@model IEnumerable<PainAssessment.Areas.ModuleTwo.Models.Consultation>

@{
    ViewData["Title"] = "Index";
}

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<h1>Index</h1>

<p>
  <a class="btn btn-primary btn-sm" role="button" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr class="warning">
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicalArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentralModulation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionalInfluence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalStimulation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicalArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CentralModulation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionalInfluence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalStimulation)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary btn-sm" asp-area="ModuleTwo" asp-controller="Patient" asp-action="Index">Back to Patient Records</a>
