@*@model IEnumerable<PainAssessment.Areas.ModuleTwo.Models.Patient>*@
@model IEnumerable<PainAssessment.Areas.Admin.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div class="row mb-3">
    @*<div class="col-md-6">
        <form class="d-flex " asp-controller="Patient" asp-action="Index" method="get">
            <input class="form-control me-2" type="text" placeholder="Search Patient Name"
                   aria-label="Search" name="SearchString" value="@ViewData["CurrentFilter"]">
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
            <button class="btn btn-outline-success" type="submit" value="Filter">Filter</button>
        </form>
    </div>*@
    <div class="col-md-6">
        <label class="switch">
            <input type="checkbox" id="toggleSwitch" onclick="toggleView()" autocomplete="off">
            <span class="slider round"></span>
        </label>
    </div>
    @*<div class="col-md-6">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown link
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>*@
</div>

<table class="table">
    <thead>
        <tr>
            <th id="patientNamesCol">
                @*@Html.DisplayNameFor(model => model.Name)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="patientNames">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary btn-sm" asp-area="ModuleTwo" asp-controller="Consultations" asp-action="Index">Patient Consultation Records</a>

@*@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>*@

<script>
        window.onload = load;

        function toggleView() {
            var checkBox = document.getElementById("toggleSwitch");
            var patientNames = document.getElementById("patientNames");
            var patientNamesCol = document.getElementById("patientNamesCol");
            if (checkBox.checked == true) {
                save();
                patientNamesCol.style.display = "none";
                var patientNames = document.getElementsByClassName("patientNames");
                for (var i = 0; i < patientNames.length; i++) {
                    patientNames[i].style.display = "none";
                }
            }
            else {
                save();
                patientNamesCol.style.display = "block";
                var patientNames = document.getElementsByClassName("patientNames");
                for (var i = 0; i < patientNames.length; i++) {
                    patientNames[i].style.display = "block";
                }
            }
        }

        function save() {
        var checkbox = document.getElementById("toggleSwitch");
        sessionStorage.setItem("toggleSwitchState", checkbox.checked);
    }

        function load() {
            var checkBox = document.getElementById("toggleSwitch");
            var switchState = sessionStorage.getItem("toggleSwitchState");
            if (switchState === "true") {
                checkBox.checked = true;
            }
            else {
                checkBox.checked = false;
            }

            if(checkBox.checked) {
                patientNamesCol.style.display = "none";
                var patientNames = document.getElementsByClassName("patientNames");
                for (var i = 0; i < patientNames.length; i++) {
                    patientNames[i].style.display = "none";
                }
            }
            else {
                patientNamesCol.style.display = "block";
                var patientNames = document.getElementsByClassName("patientNames");
                for (var i = 0; i < patientNames.length; i++) {
                    patientNames[i].style.display = "block";
                }
            }
        }
</script>
