@model IEnumerable<PainAssessment.Areas.ModuleTwo.Models.Checklist>

@{
    ViewData["Title"] = "Index";
}

<h1>My Checklists</h1>

<div class="row">
    <div class="col md-8"></div>
    <div class="col md-2"><a class="btn btn-primary" asp-action="Create">Create New</a></div>
    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.checklistID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.checklistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.checklistDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.checklistID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checklistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checklistDescription)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
