@*@model PainAssessment.Areas.ModuleTwo.Models.Patient*@
@model PainAssessment.Areas.Admin.Models.Patient


@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="mb-3 col-12">
        <a asp-action="Index" class="btn btn-primary ">Back to patient list</a>
    </div>
    <h1 class="m-sm-2">Patient Details</h1>

    <hr />
    <div class="card pt-3 px-5 rounded col-md-12 ">
        <form>
            <fieldset disabled>
                <div class="row">
                    <div class="form-group col-md-6 " id="patientName">
                        <label for="disabledTextInput" class="lead my-3 font-weight-bold ">@Html.DisplayNameFor(model => model.Name)</label>
                        @*<input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.patientName)">*@
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.Name)">
                    </div>
                    <div class="form-group col-md-2 ">
                        <label for="disabledTextInput" class="lead my-3 font-weight-bold ">@Html.DisplayNameFor(model => model.Id)</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.Id)">
                        @*<input type="text" id="disabledTextInput" class="form-control" placeholder="Id">*@
                    </div>
                    <div class="form-group col-md-2">
                        <label for="disabledTextInput" class="lead my-3 font-weight-bold ">@Html.DisplayNameFor(model => model.BirthDate)</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.BirthDate)">
                                                @*<input type="text" id="disabledTextInput" class="form-control" placeholder="Birthday">*@

                    </div>
                    <div class="form-group col-md-2">
                        <label for="disabledTextInput" class="lead my-3 font-weight-bold ">@Html.DisplayNameFor(model => model.Gender)</label>
                                                @*<input type="text" id="disabledTextInput" class="form-control" placeholder="Gender">*@

                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.Gender)">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="disabledTextInput" class="lead my-3 font-weight-bold ">@Html.DisplayNameFor(model => model.Condition)</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.Condition)">
                                                @*<input type="text" id="disabledTextInput" class="form-control" placeholder="Condition">*@

                    </div>
                    @*<div class="form-group col-md-6">
                        <label for="disabledTextInput" class="lead my-3 font-weight-bold ">@Html.DisplayNameFor(model => model.lastVisit)</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.lastVisit)">
                    </div>*@
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="disabledTextInput" class="lead my-3 font-weight-bold ">@Html.DisplayNameFor(model => model.Notes)</label>
                        @*<textarea class="form-control" id="" rows="5">@Html.DisplayFor(model => model.patientNotes)</textarea>*@
                        <textarea class="form-control" id="" rows="5">@Html.DisplayFor(model => model.Notes)</textarea>
                    </div>
                </div>
                @*<div class="row">
                    <div class="form-group col-md-6 ">
                        <label for="disabledTextInput" class="lead my-3 font-weight-bold ">@Html.DisplayNameFor(model => model.sessions)</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="@Html.DisplayFor(model => model.sessions)">
                    </div>
                </div>*@
            </fieldset>
        </form>
    </div>
</div>

<script>
    window.onload = load;

    function load() {
        var switchState = sessionStorage.getItem("toggleSwitchState");
        var patientName = document.getElementById("patientName");
        if (switchState === "true") {
            patientName.style.display = "none";
        }
        else {
            patientName.style.display = "block";
        }
    }
</script>