@model IEnumerable<PainAssessment.Areas.ModuleTwo.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="mt-3 font-weight-bold ">Patient Name</label>
            </th>
            <th>
                <label class="mt-3 font-weight-bold ">Age</label>
            </th>
            <th>
                <label class="mt-3 font-weight-bold ">Condition</label>
            </th>
            <th>
                <label class="mt-3 font-weight-bold ">Gender</label>
            </th>
            <th>
                <label class="mt-3 font-weight-bold ">Consultation ID</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.patientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consultationID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
