@model PainAssessment.ViewModels.ChangePasswordModel

@{
    ViewBag.Title = "ForgetPassword";
}

<h2>Forget Password</h2>

@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Username</label>
             @Html.TextBoxFor(user => user.Username, new { @class = "form-control" })
        </div>
         <div class="form-group">
            <label class="control-label col-md-2">New Password</label>
             @Html.PasswordFor(user => user.NewPassword, new { @class = "form-control" })
             @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
         <div class="form-group">
            <label class="control-label col-md-2">Confirm Password</label>
             @Html.PasswordFor(user => user.ConfirmPassword, new { @class = "form-control" })
             @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>

    @*@if (ViewData["Message"] != null)
            {
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-5">
                        <div class="alert alert-@ViewData["MsgType"]">
                            <text>@ViewData["Message"]</text>
                        </div>
                    </div>
                </div>
            }*@

}
