@model PainAssessment.ViewModels.LoginModel

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        <div class="form-horizontal">
            <hr />
            <div class="text-success">
                @ViewBag.Message
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Username</label>
                @Html.TextBoxFor(user => user.Username, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Password</label>
                @Html.PasswordFor(user => user.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <label class="checkbox-incline" asp-for="RememberMe">
                    <input asp-for="RememberMe" />Remember Me
                </label>
                <label>
                    <a asp-controller="Account" asp-action="ChangePassword">Forget Password</a>
                </label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>

        @*@if (ViewData["Message"] != null)
            {
            <div class="form-group">
            <div class="col-sm-offset-4 col-sm-5">
            <div class="alert alert-@ViewData["MsgType"]">
            <text>@ViewData["Message"]</text>
            </div>
            </div>
            </div>
            }*@

    }

</body>

</html>
