@model List<PainAssessment.Models.DefaultQuestion>

@{
    ViewData["Title"] = "Manage Template Checklist";
}

<div class="text-center" style="margin-top: 20px">
    <h1 class="display-4">Template Checklist Questions</h1>
</div>
<div style="margin-top: 40px">
    <div class="row justify-content-between">
        <div class="col-sm-6">
            <h2>Template Checklist 1</h2>
        </div>
    </div>
</div>
<div style="margin-top: 20px">
    <div class="accordion md-accordion accordion-blocks" id="accordionDCL" role="tablist"
         aria-multiselectable="false">
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="cMATableHeading">
                <!--Options-->
                <div class="float-left">

                    <button class="btn btn-primary btn-sm" type="button"
                            data-toggle="collapse" data-parent="#accordionDCL" href="#cMATable" aria-expanded="true"
                            aria-controls="cMATable">
                        Expand
                    </button>
                </div>
                <h5 class="mt-1 mb-0">
                    <span class="ml-3">
                        Central Modulation Assessment
                    </span>
                </h5>
            </div>
        </div>
    </div>

    <!-- Card body -->
    <div id="cMATable" class="collapse" role="tabpanel" aria-labelledby="cMATableHeading"
         data-parent="#accordionDCL">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="th-lg"><a>No.<i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a>Question <i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a>Weightage <i class="fas fa-sort ml-1"></i></a></th>
                        <th class="th-lg"><a>Action <i class="fas fa-sort ml-1"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        @if(item.PainSection == 0)
                        {
                            <tr id="row_@item.DQID">
                                <td>
                                    @Html.DisplayFor(modelItem => item.DQID)
                                </td>
                                <td>
                                    <input type="text" id="qString_@item.DQID" name="qString_@item.DQID" value="@Html.DisplayFor(modelItem => item.QString)">

                                </td>
                                <td>
                                    <input type="number" id="weightage_@item.DQID" name="weightage_@item.DQID" value="@Html.DisplayFor(modelItem => item.Weightage)">

                                </td>
                                <td>
                                    <button onclick="UpdateQuestion(@item.DQID, $('#qString_@item.DQID').val(), $('#weightage_@item.DQID').val())"
                                            type="button"
                                            class="btn btn-danger btn-sm">
                                        Update
                                    </button>
                                    @*<button onclick="ConfirmDelete(@item.PractitionerID, '@item.Name')"
                                                type="button"
                                                class="btn btn-danger btn-sm">
                                            Delete
                                        </button>*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts{
    <script>
        var UpdateQuestion = function (DQID, QString, weightage) {
            console.log(weightage);
            $.ajax({
                type: "POST",
                url: "UpdateQuestion",
                data: { DQID: DQID, QString: QString, weightage: weightage },
                success: function (result) {

                    $("#row_" + DQID).remove();
                }
            })
        }

    </script>
}