@model PainAssessment.Areas.ModuleTwo.Models.Checklist

@{
    ViewData["Title"] = "Manage Template Checklist";
}

<div class="text-center" style="margin-top: 20px">
    <h1 class="display-4">Template Checklist Questions</h1>
</div>
<div style="margin-top: 40px">
    <div class="row justify-content-between">
        <div class="col-sm-6">
            <h2>Template Checklist 1</h2>
        </div>
    </div>
</div>
<div style="margin-top: 20px">
    <div class="accordion md-accordion accordion-blocks" id="accordionDCL" role="tablist"
         aria-multiselectable="false">
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="cMATableHeading">
                <!--Options-->
                <div class="float-left">

                    <button class="btn btn-primary btn-sm" type="button"
                            data-toggle="collapse" data-parent="#accordionDCL" href="#cMATable" aria-expanded="true"
                            aria-controls="cMATable">
                        Expand
                    </button>
                </div>
                <h5 class="mt-1 mb-0">
                    <span class="ml-3">
                        Central Modulation Assessment
                    </span>
                </h5>
            </div>
        </div>


        <!-- Card body -->
        <div id="cMATable" class="collapse" role="tabpanel" aria-labelledby="cMATableHeading"
             data-parent="#accordionDCL">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="th-lg"><a>ID.<i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a>Question <i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a>Weightage <i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a>Action <i class="fas fa-sort ml-1"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.Central)
                        {

                            <tr id="row_@item.RowId">
                                <td>
                                    @Html.DisplayFor(modelItem => item.RowId)
                                </td>
                                <td>
                                    <input asp-for="@item.Determinant" type="text" id="qString_@item.RowId" name="qString_@item.RowId" value="@item.Determinant">

                                </td>
                                <td>
                                    <input asp-for="@item.MaxValue" type="number" id="weightage_@item.RowId" name="weightage_@item.RowId" value="@item.MaxValue">

                                </td>
                                <td>
                                    <button onclick="UpdateQuestion(@item.RowId, $('#qString_@item.RowId').val(), $('#weightage_@item.MaxValue').val())"
                                            type="button"
                                            class="btn btn-primary btn-sm">
                                        Update
                                    </button>
                                    <button onclick="ConfirmDeletion(@item.RowId, $('#qString_@item.RowId'))"
                                            type="button"
                                            class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <button onclick="AddQuestion(@Model.Central.Count(), 0)"
                        type="button"
                        class="btn btn-primary btn-sm">
                    Add new question to section
                </button>
            </div>
        </div>

        
        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="rIATableHeading">
                <!--Options-->
                <div class="float-left">

                    <button class="btn btn-primary btn-sm" type="button"
                            data-toggle="collapse" data-parent="#accordionDCL" href="#rIATable" aria-expanded="true"
                            aria-controls="rIATable">
                        Expand
                    </button>
                </div>
                <h5 class="mt-1 mb-0">
                    <span class="ml-3">
                        Regional Influence Assessment
                    </span>
                </h5>
            </div>
        </div>


        <!-- Card body -->
        <div id="rIATable" class="collapse" role="tabpanel" aria-labelledby="rIATableHeading"
             data-parent="#accordionDCL">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="th-lg"><a>ID.<i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a>Question <i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a>Weightage <i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a>Action <i class="fas fa-sort ml-1"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.Regional)
                        {

                            <tr id="row_@item.RowId">
                                <td>
                                    @Html.DisplayFor(modelItem => item.RowId)
                                </td>
                                <td>
                                    <input asp-for="@item.Determinant" type="text" id="qString_@item.RowId" name="qString_@item.RowId" value="@item.Determinant">

                                </td>
                                <td>
                                    <input asp-for="@item.MaxValue" type="number" id="weightage_@item.RowId" name="weightage_@item.RowId" value="@item.MaxValue">

                                </td>
                                <td>
                                    <button onclick="UpdateQuestion(@item.RowId, $('#qString_@item.RowId').val(), $('#weightage_@item.RowId').val())"
                                            type="button"
                                            class="btn btn-primary btn-sm">
                                        Update
                                    </button>
                                    <button onclick="ConfirmDeletion(@item.RowId, $('#qString_@item.RowId'))"
                                            type="button"
                                            class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <button onclick="AddQuestion(@Model.Regional.Count(), 1)"
                        type="button"
                        class="btn btn-primary btn-sm">
                    Add new question to section
                </button>
            </div>
        </div>



        <!-- Accordion card -->
        <div class="card">
            <!-- Card header -->
            <div class="card-header" role="tab" id="lSATableHeading">
                <!--Options-->
                <div class="float-left">

                    <button class="btn btn-primary btn-sm" type="button"
                            data-toggle="collapse" data-parent="#accordionDCL" href="#lSATable" aria-expanded="true"
                            aria-controls="lSATable">
                        Expand
                    </button>
                </div>
                <h5 class="mt-1 mb-0">
                    <span class="ml-3">
                        Local Stimulation Assessment
                    </span>
                </h5>
            </div>
        </div>


        <!-- Card body -->
        <div id="lSATable" class="collapse" role="tabpanel" aria-labelledby="lSATableHeading"
             data-parent="#accordionDCL">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="th-lg"><a>ID.<i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a>Question <i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a>Weightage <i class="fas fa-sort ml-1"></i></a></th>
                            <th class="th-lg"><a>Action <i class="fas fa-sort ml-1"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.Local)
                        {

                            <tr id="row_@item.RowId">
                                <td>
                                    @Html.DisplayFor(modelItem => item.RowId)
                                </td>
                                <td>
                                    <input asp-for="@item.Determinant" type="text" id="qString_@item.RowId" name="qString_@item.RowId" value="@item.Determinant">

                                </td>
                                <td>
                                    <input asp-for="@item.MaxValue" type="number" id="weightage_@item.RowId" name="weightage_@item.RowId" value="@item.MaxValue">

                                </td>
                                <td>
                                    <button onclick="UpdateQuestion(@item.RowId, $('#qString_@item.RowId').val(), $('#weightage_@item.RowId').val())"
                                            type="button"
                                            class="btn btn-primary btn-sm">
                                        Update
                                    </button>
                                    <button onclick="ConfirmDeletion(@item.RowId, $('#qString_@item.RowId'))"
                                            type="button"
                                            class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <button onclick="AddQuestion(@Model.Local.Count(), 2)"
                        type="button"
                        class="btn btn-primary btn-sm">
                    Add new question to section
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Question Updated</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Question "<span id="updatedQuestion"></span>" has been updated!</p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deletionModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" id="deletionDQID" />
            <div class="modal-body">
                <p>Are you sure you want to delete the question "<span id="deletingQuestion"></span>"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                <button type="button" onclick="DeleteQuestionFromDB($('#deletionDQID').val())" class="btn btn-danger">Delete</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="creationModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                <table>
                    <tr id=("row_1")>
                        <td id="new_DQID" class="col-sm-1">
                        </td>
                        <td class="col-sm-1">
                            <input type="text" id="new_qString" name="new_qString" placeholder="Input question here" value="">

                        </td>
                        <td class="col-sm-1">
                            <input type="number" id="new_weightage" name="new_weightage" placeholder="Input weightage" value="">

                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-body">
                <input type="hidden" id="new_section" />
                <button onclick="AddQuestionToDB($('#new_DQID').html(), $('#new_qString').val(), $('#new_section').val(), $('#new_weightage').val())"
                        type="button"
                        class="btn btn-primary btn-sm">
                    Add Question
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var UpdateQuestion = function (DQID, QString, weightage) {
            $.ajax({
                type: "POST",
                url: "UpdateQuestion",
                data: { DQID: DQID, QString: QString, weightage: weightage },
                success: function (result) {
                    $("#updatedQuestion").text(QString);
                    $("#updateModal").modal("show");
                }
            })
        }

        var AddQuestionToDB = function (DQID, QString, PainSection, weightage) {
            $.ajax({
                type: "POST",
                url: "AddQuestion",
                data: { DQID: DQID, QString: QString, PainSection: PainSection, weightage: weightage },
                success: function (result) {
                    location.reload();
                }
            })
        }

        var DeleteQuestionFromDB = function (DQID) {
            console.log(DQID)
            $.ajax({
                type: "POST",
                url: "DeleteQuestion",
                data: { DQID: DQID },
                success: function (result) {
                    $("#deletionModal").modal("hide");
                    $(("#row_" + DQID)).hide();
                }
            })
        }

        var AddQuestion = function (Count, Section) {
            // Store value of section
            $('#new_section').val(Section)
            $('#new_DQID').html(Count + 1)
            // Show creation modal
            $("#creationModal").modal("show");
        }

        var ConfirmDeletion = function (DQID, QString) {
            // Store value of section
            $('#deletionDQID').val(DQID)
            $('#deletingQuestion').text(QString.val())
            // Show creation modal
            $("#deletionModal").modal("show");
        }


    </script>
}
