@using PainAssessment.Areas.ModuleTwo.Services
@using System.Collections.ObjectModel
@model IEnumerable<PainAssessment.Areas.ModuleTwo.Models.Checklist>

@{
    ViewData["Title"] = "ViewTemplateChecklist";
}
<div class="row justify-content-between">
    <div class="col-sm-6">
        <h1>Administrator CheckLists</h1>
        <p class="text-muted">Admin can view and manage Template Checklist here. This includes creating, updating and deleting template checklists.</p>
    </div>
    <div class="col-sm-2 align-self-center">
        <a asp-action="CreateTemplateChecklist" type="button" class="btn btn-primary btn-block">Create New</a>
    </div>
</div>

<div class="row">
    <table class="table border border-dark rounded-lg ">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    CheckList Name
                </th>
                <th>
                   CheckList Description
                </th>
                <th>
                    Created By Admin
                </th>
                <th>
                    Active
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                   
                        @Html.DisplayFor(modelItem => item.ChecklistId)
                  
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChecklistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChecklistDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PractitionerId)
                    </td>
                    <td>
                        @*@Html.RadioButtonFor(modelItem => item.Active, item) @item*@
                      

                        @using (Html.BeginForm("Update", "TemplateChecklist", FormMethod.Post))
                        {
                            @Html.EditorFor(modelItem => item.Active)
                            @Html.Hidden("checklistID", item.ChecklistId)

                            <input type="submit" class="btn btn-primary" id="btUpdate" value="update">
                        }

                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="EditTemplateChecklist" asp-route-id="@item.ChecklistId">Edit Checklist</a>
                        <a class="btn btn-secondary" asp-action="ManageTemplateChecklist" asp-route-id="@item.ChecklistId">Manage Questions</a>
                        <a class="btn btn-danger" asp-action="DeleteTemplateChecklist" asp-route-id="@item.ChecklistId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




