@model PainAssessment.Areas.ModuleTwo.Models.Checklist

@{ ViewData["Title"] = "Create"; }


<div class="row">
    <div class="col sm-1 mb-3">
        <a class="btn btn-light border border-dark" style="float:left;" asp-action="Index">Back</a>
    </div>
    <div class="col lg-10">
        <h2 class="font-weight-bold fs-4 text">Create</h2>
    </div>
    <div class="col sm-1"></div>
</div>

<hr />
<div class="row">
    <div class="col-md-12 border border-dark rounded-lg">
        <form id="ChecklistForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="ChecklistName" class="control-label">Checklist Name</label>
                <input asp-for="ChecklistName" class="form-control" />
                <span asp-validation-for="ChecklistName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ChecklistDescription" class="control-label">Checklist Description</label>
                <input asp-for="ChecklistDescription" class="form-control" />
                <span asp-validation-for="ChecklistDescription" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Active" class="control-label">Active</label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <h3>Central</h3>
            <div class="container rounded-lg p-0 m-0 border border-dark bg-seondary">

                <table id="Central" class="table table-sm DomainTable">
                    <thead>
                        <tr>
                            <th>
                                SubDomain
                            </th>
                            <th>
                                Determinant
                            </th>
                            <th>
                                Comment
                            </th>
                            <th>
                                Max
                            </th>
                            <th>
                                Value
                            </th>
                            <th style="width:75px;">
                                <button id="addCentral" type="button" class="btn btn-sm btn-primary visible"
                                        onclick="AddCentral(this)">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Central.Count; i++)
                        {
                            <tr class="centralRow" id="addCentralRow-@i">
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].SubDomain, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].SubDomain" class="form-control" />
                                <td>
                                    <input type="hidden" asp-for="@Model.Central[i].IsCentralDeleted" />
                                    @*Html.EditorFor(x => x.Central[i].Determinant, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].Determinant" class="form-control" />
                                </td>
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].Comment, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].Comment" class="form-control" />
                                <td>
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].MaxValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].MaxValue" class="form-control" />
                                <td>
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].ActualValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].ActualValue" class="form-control" />
                                <td>
                                <td style="width:60px;">
                                    <button id="removeCentral-@i" type="button" class="btn btn-sm btn-danger" onclick="RemoveCentral(this)">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group mt-2">
                    <label asp-for="InitialCentralWeight" class="control-label">Central Weight</label>
                    <input asp-for="InitialCentralWeight" class="form-control" />
                    <span asp-validation-for="InitialCentralWeight" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" id="hiddenCentralLast" value="0" />

            <h3>Regional</h3>
            <div class="container rounded-lg p-0 m-0 border border-dark bg-seondary">
                <table id="Regional" class="table table-sm DomainTable">
                    <thead>
                        <tr>
                            <th>
                                SubDomain
                            </th>
                            <th>
                                Determinant
                            </th>
                            <th>
                                Comment
                            </th>
                            <th>
                                Max
                            </th>
                            <th>
                                Value
                            </th>
                            <th style="width:75px;">
                                <button id="addRegional" type="button" class="btn btn-sm btn-primary visible"
                                        onclick="AddRegional(this)">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Regional.Count; i++)
                        {
                            <tr class="regionalRow" id="addCentralRow-@i">
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].SubDomain, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].SubDomain" class="form-control" />
                                <td>
                                    <input type="hidden" asp-for="@Model.Regional[i].IsRegionalDeleted" />
                                    @*Html.EditorFor(x => x.Central[i].Determinant, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].Determinant" class="form-control" />
                                </td>
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].Comment, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].Comment" class="form-control" />
                                <td>
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].MaxValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].MaxValue" class="form-control" />
                                <td>
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].ActualValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].ActualValue" class="form-control" />
                                <td>
                                <td style="width:60px;">
                                    <button id="removeRegional-@i" type="button" class="btn btn-sm btn-danger" onclick="RemoveRegional(this)">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group mt-2">
                    <label asp-for="InitialRegionalWeight" class="control-label">Regional Weight</label>
                    <input asp-for="InitialRegionalWeight" class="form-control" />
                    <span asp-validation-for="InitialRegionalWeight" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" id="hiddenRegionalLast" value="0" />

            <h3>Local</h3>
            <div class="container rounded-lg p-0 m-0 border border-dark bg-seondary">

                <table id="Local" class="table table-sm DomainTable">
                    <thead>
                        <tr>
                            <th>
                                SubDomain
                            </th>
                            <th>
                                Determinant
                            </th>
                            <th>
                                Comment
                            </th>
                            <th>
                                Max
                            </th>
                            <th>
                                Value
                            </th>
                            <th style="width:75px;">
                                <button id="addLocal" type="button" class="btn btn-sm btn-primary visible"
                                        onclick="AddLocal(this)">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Local.Count; i++)
                        {
                            <tr class="localRow" id="addLocalRow-@i">
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].SubDomain, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].SubDomain" class="form-control" />
                                <td>
                                    <input type="hidden" asp-for="@Model.Local[i].IsLocalDeleted" />
                                    @*Html.EditorFor(x => x.Central[i].Determinant, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].Determinant" class="form-control" />
                                </td>
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].Comment, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].Comment" class="form-control" />
                                <td>
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].MaxValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].MaxValue" class="form-control" />
                                <td>
                                <td>
                                    @*Html.EditorFor(x => x.Central[i].ActualValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].ActualValue" class="form-control" />
                                <td>
                                <td style="width:60px;">
                                    <button id="removeLocal-@i" type="button" class="btn btn-sm btn-danger" onclick="RemoveLocal(this)">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group mt-2">
                    <label asp-for="InitialLocalWeight" class="control-label">Local Weight</label>
                    <input asp-for="InitialLocalWeight" class="form-control" />
                    <span asp-validation-for="InitialLocalWeight" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" id="hiddenLocaLast" value="0" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}