@model PainAssessment.Areas.ModuleTwo.Models.Checklist

@{ ViewData["Title"] = "Details"; }


<div class="row">
    <div class="col sm-1 mb-3">
        <a class="btn btn-light border border-dark" style="float:left;" asp-action="Index">Back</a>
    </div>
    <div class="col lg-10">
        <h2 class="font-weight-bold fs-4 text">Create</h2>
    </div>
    <div class="col sm-1"></div>
</div>

<hr />
<div class="row">
    <div class="col-md-12 border border-dark rounded-lg">
        <form id="ChecklistForm" asp-action="Details">
            <input type="hidden" asp-for="ChecklistId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="ChecklistName" class="control-label">Checklist Name</label>
                <input asp-for="ChecklistName" class="form-control" readonly />
                <span asp-validation-for="ChecklistName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ChecklistDescription" class="control-label">Checklist Description</label>
                <input asp-for="ChecklistDescription" class="form-control" readonly />
                <span asp-validation-for="ChecklistDescription" class="text-danger"></span>
            </div>
            <h3>Central</h3>
            <div class="container rounded-lg p-0 m-0 border border-dark bg-seondary">

                <table id="Central" class="table table-sm DomainTable">
                    <thead>
                        <tr>
                            <th>
                                SubDomain
                            </th>
                            <th>
                                Determinant
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Central.Count; i++)
                        {
            <tr class="centralRow" id="addCentralRow-@i">
                <td>
                    @*Html.EditorFor(x => x.Central[i].SubDomain, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input asp-for="@Model.Central[i].SubDomain" class="form-control" readonly />
                <td>
                    <input type="hidden" asp-for="@Model.Central[i].IsCentralDeleted" />
                    @*Html.EditorFor(x => x.Central[i].Determinant, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input asp-for="@Model.Central[i].Determinant" class="form-control" readonly />
                </td>
            </tr>
}
                    </tbody>
                </table>
            </div>

            <input type="hidden" id="hiddenCentralLast" value="0" />

            <h3>Regional</h3>
            <div class="container rounded-lg p-0 m-0 border border-dark bg-seondary">

                <table id="Regional" class="table table-sm DomainTable">
                    <thead>
                        <tr>
                            <th>
                                SubDomain
                            </th>
                            <th>
                                Determinant
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Regional.Count; i++)
                        {
            <tr class="regionalRow" id="addRegionalRow-@i">
                <td>
                    @*Html.EditorFor(x => x.Regional[i].SubDomain, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input asp-for="@Model.Regional[i].SubDomain" class="form-control" readonly />
                <td>
                    <input type="hidden" asp-for="@Model.Regional[i].IsRegionalDeleted" />
                    @*Html.EditorFor(x => x.Regional[i].Determinant, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input asp-for="@Model.Regional[i].Determinant" class="form-control" readonly />
                </td>
            </tr>
}
                    </tbody>
                </table>
            </div>

            <input type="hidden" id="hiddenRegionalLast" value="0" />

            <h3>Local</h3>
            <div class="container rounded-lg p-0 m-0 border border-dark bg-seondary">

                <table id="Local" class="table table-sm DomainTable">
                    <thead>
                        <tr>
                            <th>
                                SubDomain
                            </th>
                            <th>
                                Determinant
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Local.Count; i++)
                        {
            <tr class="localRow" id="addLocalRow-@i">
                <td>
                    @*Html.EditorFor(x => x.Local[i].SubDomain, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input asp-for="@Model.Local[i].SubDomain" class="form-control" readonly />
                <td>
                    <input type="hidden" asp-for="@Model.Local[i].IsLocalDeleted" />
                    @*Html.EditorFor(x => x.Local[i].Determinant, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input asp-for="@Model.Local[i].Determinant" class="form-control" readonly />
                </td>
            </tr>
}
                    </tbody>
                </table>
            </div>

            <input type="hidden" id="hiddenLocLast" value="0" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
