@model PainAssessment.Areas.ModuleTwo.Models.Checklist

@{ ViewData["Title"] = "Edit"; }


<div class="row">
    <div class="col">
        <h1 class="font-weight-bold fs-4 text">Edit</h1>
        <h2>Checklist</h2>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-12 border border-dark rounded-lg">
        
        <form id="ChecklistForm" asp-action="Edit">
            <input type="hidden" asp-for="ChecklistId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="ChecklistName" class="control-label">Checklist Name</label>
                <input asp-for="ChecklistName" name="ChecklistName" class="form-control" />
                <span asp-validation-for="ChecklistName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="PractitionerId" class="control-label">Created By</label>
                <input asp-for="PractitionerId" class="form-control" />
                <span asp-validation-for="PractitionerId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="SessionId" class="control-label">Session</label>
                <input asp-for="SessionId" name="SessionId" class="form-control" />
                <span asp-validation-for="SessionId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ChecklistDescription" class="control-label">Checklist Description</label>
                <input asp-for="ChecklistDescription" name="ChecklistDescription" class="form-control" />
                <span asp-validation-for="ChecklistDescription" class="text-danger"></span>

            </div>
            <h3>Central</h3>
            <div class="container rounded-lg p-0 m-0 border border-dark bg-seondary">

                <table id="Central" class="table table-sm DomainTable">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                SubDomain
                            </th>
                            <th style="width: 20%;">
                                Determinant
                            </th>
                            <th style="width: 20%;">
                                Comment
                            </th>
                            <th style="width:10%;">
                                Max
                            </th>
                            <th style="width:10%;">
                                Value
                            </th>
                            <!--<th style="width:75px;">-->
                            <th style="width:10%;">
                                <button id="addCentral" type="button" class="btn btn-sm btn-primary visible"
                                        onclick="AddCentral(this)">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Central.Count; i++)
                        {
                            <tr class="centralRow" id="addCentralRow-@i">
                                <td style="width:20%">
                                    @*Html.EditorFor(x => x.Central[i].SubDomain, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].SubDomain" class="form-control" />
                                </td>
                                <td style="width:20%">
                                    <input type="hidden" asp-for="@Model.Central[i].IsCentralDeleted" />
                                    @*Html.EditorFor(x => x.Central[i].Determinant, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].Determinant" class="form-control" />
                                </td>
                                <td style="width:20%">
                                    @*Html.EditorFor(x => x.Central[i].Comment, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].Comment" class="form-control" />
                                </td>
                                <td style="width:10%">
                                    @*Html.EditorFor(x => x.Central[i].MaxValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].MaxValue" min="0" class="form-control" />
                                </td>
                                <td style="width:10%">
                                    @*Html.EditorFor(x => x.Central[i].ActualValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Central[i].ActualValue" min="0" class="form-control" />
                                </td>
                                <td style="width:10%">
                                    <button id="removeCentral-@i" type="button" class="btn btn-sm btn-danger" onclick="RemoveCentral(this)">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group mt-2">
                    <label asp-for="InitialCentralWeight" name="ChecklistName" class="control-label">Central Weight</label>
                    <input asp-for="InitialCentralWeight" name="InitialCentralWeight" class="form-control" />

                </div>
            </div>

            <input type="hidden" id="hiddenCentralLast" value="0" />

            <h3>Regional</h3>
            <div class="container rounded-lg p-0 m-0 border border-dark bg-seondary">
                <table id="Regional" class="table table-sm DomainTable">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                SubDomain
                            </th>
                            <th style="width: 20%;">
                                Determinant
                            </th>
                            <th style="width: 20%;">
                                Comment
                            </th>
                            <th style="width:10%;">
                                Max
                            </th>
                            <th style="width:10%;">
                                Value
                            </th>
                            <!--<th style="width:75px;">-->
                            <th style="width:10%;">
                                <button id="addRegional" type="button" class="btn btn-sm btn-primary visible"
                                        onclick="AddRegional(this)">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Regional.Count; i++)
                        {
                            <tr class="regionalRow" id="addRegionalRow-@i">

                                <td style="width: 20%;">
                                    @*Html.EditorFor(x => x.Regional[i].SubDomain, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].SubDomain" class="form-control" />
                                </td>
                                <td style="width: 20%;">
                                    <input type="hidden" asp-for="@Model.Regional[i].IsRegionalDeleted" />
                                    @*Html.EditorFor(x => x.Central[i].Determinant, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].Determinant" class="form-control" />
                                </td>
                                <td style="width: 20%;">
                                    @*Html.EditorFor(x => x.Central[i].Comment, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].Comment" class="form-control" />
                                </td>
                                <td style="width: 10%;">
                                    @*Html.EditorFor(x => x.Regional[i].MaxValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].MaxValue" min="0" class="form-control" />
                                </td>
                                <td style="width: 10%;">
                                    @*Html.EditorFor(x => x.Regional[i].ActualValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Regional[i].ActualValue" min="0" class="form-control" />
                                </td>
                                <td style="width: 10%;">
                                    <button id="removeRegional-@i" type="button" class="btn btn-sm btn-danger" onclick="RemoveRegional(this)">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group mt-2">
                    <label asp-for="InitialRegionalWeight" class="control-label">Regional Weight</label>
                    <input asp-for="InitialRegionalWeight" name="InitialRegionalWeight" class="form-control" />
                </div>
            </div>

            <input type="hidden" id="hiddenRegionalLast" value="0" />

            <h3>Local</h3>
            <div class="container rounded-lg p-0 m-0 border border-dark bg-seondary">

                <table id="Local" class="table table-sm DomainTable">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                SubDomain
                            </th>
                            <th style="width: 20%;">
                                Determinant
                            </th>
                            <th style="width: 20%;">
                                Comment
                            </th>
                            <th style="width:10%;">
                                Max
                            </th>
                            <th style="width:10%;">
                                Value
                            </th>
                            <!--<th style="width:75px;">-->
                            <th style="width:10%;">
                                <button id="addLocal" type="button" class="btn btn-sm btn-primary visible"
                                        onclick="AddLocal(this)">
                                    Add
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Local.Count; i++)
                        {
                            <tr class="localRow" id="addLocalRow-@i">

                                <td style="width: 20%;">
                                    @*Html.EditorFor(x => x.Regional[i].SubDomain, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].SubDomain" class="form-control" />
                                </td>
                                <td style="width: 20%;">
                                    <input type="hidden" asp-for="@Model.Local[i].IsLocalDeleted" />
                                    @*Html.EditorFor(x => x.Central[i].Determinant, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].Determinant" class="form-control" />
                                </td>
                                <td style="width: 20%;">
                                    @*Html.EditorFor(x => x.Central[i].Comment, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].Comment" class="form-control" />
                                </td>
                                <td style="width: 10%;">
                                    @*Html.EditorFor(x => x.Regional[i].MaxValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].MaxValue" min="0" class="form-control" />
                                </td>
                                <td style="width: 10%;">
                                    @*Html.EditorFor(x => x.Regional[i].ActualValue, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <input asp-for="@Model.Local[i].ActualValue" min="0" class="form-control" />
                                </td>
                                <td style="width: 10%;">
                                    <button id="removeLocal-@i" type="button" class="btn btn-sm btn-danger" onclick="RemoveLocal(this)">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group mt-2">
                    <label asp-for="InitialLocalWeight" class="control-label">Local Weight</label>
                    <input asp-for="InitialLocalWeight" name="InitialLocalWeight" class="form-control" />
                </div>
            </div>

            <input type="hidden" id="hiddenLocaLast" value="0" />

            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-secondary" asp-action="Index">Back To List</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
