@using PainAssessment.Areas.ModuleTwo.Services
@using System.Collections.ObjectModel
@model IEnumerable<PainAssessment.Areas.ModuleTwo.Models.Checklist>


@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col sm-1 mb-3">
        <h3 class="font-weight-bold fs-4 text" style="float:left">My Checklists</h3>
    </div>
    <div class="col lg-10"></div>
    <div class="col sm-1"><a class="btn btn-light border border-dark" style="float:right;" asp-action="Create">Create</a></div>
</div>

<div class="row">
    <table class="table border border-dark rounded-lg ">
        <thead>
            <tr>
                <th></th>

                <th>
                    @Html.DisplayNameFor(model => model.ChecklistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ChecklistDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="selected@item">
        </div>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ChecklistName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ChecklistDescription)
    </td>
    <td>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ChecklistId">Edit</a>
        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.ChecklistId">Details</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ChecklistId">Delete</a>
    </td>
</tr>}
        </tbody>
    </table>
</div>

